<!DOCTYPE html>
<html>
<head>
    <title>Faktura</title>

</head>
<body>
    <div class="invoice-box">
        <div class="header-section" style="text-align:center">
            <h1>Faktura nr.  [NumerFaktury]</h1>
        </div>

        <div class="details-section">
            <h3>Nabywca</h3>
            <p><label>Imie: [ImieNabywcy]</label></p>
            <p><label>Nazwisko: [NazwiskoNabywcy]</label></p>
            <p><label>Numer Tel.: [NumerTelNabywcy]</label></p>
            <p><label>Email: [EmailNabywcy]</label></p>
        </div>



        <table class="table">
            <thead>
                <tr>
                    <th>Zamowienie ID</th>
                    <!--<th> Produkt </th>
                    <th>Cena </th> -->
                </tr>
            </thead>
            <tbody>
                <!-- Wiersze z produktami/usługami -->
                <tr>
                    <td>[ZamowienieID]</td>
                    <!--<td>[NazwaProduktu]</td> -->
                    <td></td>
                </tr>
                <!-- Powtórz wiersze dla każdego produktu/usługi -->
            </tbody>
        </table>

        <div class="footer-section">
            <p>Dziękujemy za skorzystanie z naszych usług!</p>
        </div>
    </div>
</body>
</html>
