<!DOCTYPE html>
<html>
<head>
    <title>Faktura</title>

</head>
<body>
    <div class="invoice-box">
        <div class="header-section">
            <h1>Faktura</h1>
        </div>

        <div class="details-section">
            <label>Numer Faktury: [NumerFaktury]</label>
            <label>Data Faktury: [DataFaktury]</label>
            <label>Termin Płatności: [TerminPlatnosci]</label>
            <label>Status płatność: [StatusPlatnosci]</label>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Imie Klienta</th>

                </tr>
            </thead>
            <tbody>
                <!-- Wiersze z produktami/usługami -->
                <tr>
                    <td>[ImieKlienta]</td>
\
                </tr>
                <!-- Powtórz wiersze dla każdego produktu/usługi -->
            </tbody>
        </table>

        <div class="footer-section">
            <p>Dziękujemy za skorzystanie z naszych usług!</p>
        </div>
    </div>
</body>
</html>
