<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" autoReload="true"
      internalLogLevel="Info" internalLogFile="${basedir}\Log\InnerLog.txt">
	<extensions>
		<add assembly="NLog.Web.AspNetCore" />
	</extensions>
	<targets>
		<target xsi:type="File" name="allFile" fileName="D:\logs\BusinessBuddyApp\all\nlog-${shortdate}.log"
			  layout="->(${longdate}) : ${level} : ${message}" />
		<target xsi:type="File" name="exceptions" fileName="D:\logs\BusinessBuddyApp\exceptions\nlog-${shortdate}.log"
	  layout="->(${longdate}) : ${level} : ${message}" />
		<target xsi:type="File" name="informations" fileName="D:\logs\BusinessBuddyApp\informations\nlog-${shortdate}.log"
	  layout="->(${longdate}) : ${level} : ${message}" />
	</targets>
	<!-- rules to map from logger name to target -->
	<rules>
		<!--'minLevel' is the minimal level for capturing logs.-->
		<!--'maxLevel' is the maximal level for capturing logs.-->
		<logger name="*" minLevel="Trace" writeTo="allFile" />    
		<logger name="*" minLevel="Error" maxLevel="Error" writeTo="exceptions" />
		<logger name="*" minLevel="Information" maxLevel="Information" writeTo="informations" />
	</rules>
</nlog>

<!-- 
Trace - 0 - LogTrace
Debug - 1 - LogDebug
Information - 2 LogInfromation
Warning - 3 - LogWarining
Error - 4 - LogError
Critical - 5 - LogCritical
-->